@model eComShop.Entities.Category

@{ 
    ViewBag.Title = "Edit";

    var trueChecked = Model.IsFeatured ? "checked" : string.Empty;
    var falseChecked = !Model.IsFeatured ? "checked" : string.Empty;

    var imageUrl = !string.IsNullOrEmpty(Model.ImageURL) ? Model.ImageURL : "/content/images/no-image-available.jpg"; 
}

<br />

<form id="editCategory">
    <input name="Id" value="@Model.Id" hidden />

    <div class="row">
        <div class="col-md-8">

            <div class="form-group">
                <label>Name</label>
                <input name="Name" value="@Model.Name" class="form-control" />
            </div>

            <div class="form-group">
                <label>Description</label>
                <input name="Description" value="@Model.Description" class="form-control" />
            </div>

            <div class="form-group">
                <label>Image</label>
                <input name="ImageURL" id="imageUrl" type="hidden" value="@Model.ImageURL" />
                <input class="form-control" name="Image" id="imageUpload" type="file" accept=".png, .jpg" />
            </div>

            <div class="form-group">
                <label>Is Featured?</label>
                <input name="IsFeatured" type="radio" value="True" @trueChecked /> True
                <input name="IsFeatured" type="radio" value="False" @falseChecked /> False
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumb">
                <img src="@imageUrl" class="img-thumbnail img-fluid" id="categoryImage" />
            </div>
        </div>
    </div>

    <button id="btnUpdate" type="button" class="btn btn-success">Update</button>
    <button id="btnCancel" type="button" class="btn btn-danger">Cancel</button>
</form>


<script>
    $("#imageUpload").change(function () {
        var element = this; //this is imageUpload

        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadImage", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false

        }).done(function (response) {
            if (response.Success) {
                $("#imageUrl").val(response.ImageURL);
                $("#categoryImage").attr("src", response.ImageURL);
            }
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Failed");
        });
    });
    $("#btnUpdate").click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Edit", "Categories")',
            data: $("#editCategory").serialize()

        }).done(function (response) {
            $("#tableContainer").html(response);
            $("#actionContainer").html("");
            focusAction("tableContainer");

            swal("Category Updated Successfully!", {
                icon: "success",
            });

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Failed");
        });
    });

    $("#btnCancel").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });
</script>

