@model eComShop.Web.ViewModels.NewProductViewModel

@{ 
    ViewBag.Title = "Create";
    var imageURL = "~/Content/images/noimage.jpg"; 
}

<hr />
<h2 class="text-info">Create Product</h2>
<hr />

<form id="createProduct">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Category</label>
                <select name="CategoryId" class="form-control">
                    <option value="0">Select Category</option>
                    @foreach (var category in Model.AvailableCategories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Name</label>
                <input name="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label>Description</label>
                <input name="Description" class="form-control" />
            </div>

            <div class="form-group">
                <label>Price</label>
                <input name="Price" class="form-control" />
            </div>

            <div class="form-group">
                <label>Image</label>
                <input name="ImageURL" id="imageUrl" type="hidden" />
                <input name="Image" id="imageUpload" type="file" accept=".png, .jpg" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img src="@imageURL" class="img-thumbnail img-fluid" id="productImage" />
            </div>
        </div>
    </div>

    <button id="btnSave" type="button" class="btn btn-primary">Save</button>
    <button id="btnCancel" type="button" class="btn btn-danger">Cancel</button>
</form>


<script>
    $("#btnSave").click(function () {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "Products")',
            data: $("#createProduct").serialize()

        }).done(function (response) {
            $("#tableContainer").html(response);
            $("#actionContainer").html("");
            focusAction("tableContainer");

            swal("Product Saved Successfully!", {
                icon: "success",
            });

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Failed");
        });
    });

    $("#btnCancel").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });


    $("#imageUpload").change(function () {
        var element = this; //this is imageUpload

        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadImage", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false

        }).done(function (response) {
            if (response.Success) {
                $("#imageUrl").val(response.ImageURL);
                $("#productImage").attr("src", response.ImageURL);
            }
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Failed");
        });
    });
</script>