@model eComShop.Web.ViewModels.ProductDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var defaultImageUrl = "~/Content/images/no-image-available.jpg";
    var imageUrl = string.IsNullOrEmpty(Model.Product.ImageURL) ? defaultImageUrl : Model.Product.ImageURL;
}

@if (Model != null && Model.Product != null)
{
    <section class="flat-row main-shop shop-detail">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="wrap-flexslider">
                        <div class="inner">
                            @*<div class="flexslider style-1 has-relative">*@
                            <div class="style-1 has-relative" style="height:500px; width: 400px;">
                                <ul class="slides">
                                    <li data-thumb="@imageUrl">
                                        <img src="@imageUrl" alt="Image" style="height: 350px; width: auto";>
                                        <div class="flat-icon style-1">
                                            <a href="@imageUrl" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- /.flexslider -->
                        </div>
                    </div>
                </div><!-- /.col-md-6 -->

                <div class="col-md-6">
                    <div class="product-detail">
                        <div class="inner">
                            <div class="content-detail">
                                <h2 class="product-title">
                                    @Model.Product.Name
                                </h2>
                                <div class="flat-star style-1">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <span>(1)</span>
                                </div>
                                <p>
                                    @Model.Product.Description
                                </p>
                                <div class="price">
                                    @*<del><span class="regular">$90.00</span></del>*@
                                    <ins>
                                        <span class="amount">
                                            TK @Model.Product.Price
                                        </span>
                                    </ins>
                                </div>

                                <div class="size">
                                    <span>Size:</span>
                                    <ul>
                                        <li><a href="#">L</a></li>
                                        <li><a href="#">M</a></li>
                                        <li><a href="#">S</a></li>
                                        <li><a href="#">XL</a></li>
                                        <li><a href="#">XXL</a></li>
                                        <li><a href="#">Over Size</a></li>
                                    </ul>
                                </div>

                                <div class="product-quantity">
                                    <div class="quantity">
                                        <input type="text" value="1" name="quantity-number" class="quantity-number">
                                        <span class="inc quantity-button">+</span>
                                        <span class="dec quantity-button">-</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">ADD TO CART</a>
                                    </div>
                                    <div class="box-like">
                                        <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                    </div>
                                </div>

                                <div class="product-categories">
                                    <span>Categories: </span><a href="#">@Model.Product.Category.Name</a>
                                </div>

                                <ul class="flat-socials">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>

                            </div>
                        </div>
                    </div><!-- /.product-detail -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-row -->

    //Review Section
    <!-- /.shop-detail-content -->


    <section class="flat-row shop-related">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section margin-bottom-55">
                        <h2 class="title">Related Products</h2>
                    </div>

                    @{
                        Html.RenderAction("Products", "Widgets", new { isLatest = false, categoryId = Model.Product.Category.Id });
                    }
                </div>
            </div><!-- /.row -->
        </div>
    </section>



}

