@model eComShop.Entities.Product

@{ ViewBag.Title = "Edit"; }

<hr />
<h2 class="text-info">Edit Product</h2>
<hr />

<form id="editProduct">
    <input name="Id" value="@Model.Id" hidden />

    <div class="form-group">
        <label>Name</label>
        <input name="Name" value="@Model.Name" class="form-control" />
    </div>


    <div class="form-group">
        <label>Description</label>
        <input name="Description" value="@Model.Description" class="form-control" />
    </div>

    <div class="form-group">
        <label>Price</label>
        <input name="Price" value="@Model.Price" class="form-control" />
    </div>

    <button id="btnUpdate" type="button" class="btn btn-success">Update</button>
</form>


<script>
    $("#btnUpdate").click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Edit", "Products")',
            data: $("#editProduct").serialize()

        }).done(function (response) {
            $("#tableContainer").html(response);
            $("#actionContainer").html("");
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Failed");
        });
    });
</script>